* {
  margin: 0;
  padding: 0;
}
.form-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 95%;
  margin: 2% 2% 0% 2%;
}
.input-form {
  max-width: 80%;
  margin-left: 10%;
  height: 0.4rem;
  border-radius: 6px;
  font-size: 1rem;
  color: black;
}
.select-gread {
  width: 20%;
  margin-left: 12%;
}
label {
  background-color: rgb(221, 221, 212);
  color: black;
  padding-bottom: 1%;
  margin-left: 10%;
  font-size: 1.3rem;
}
.header {
  text-align: center;
  margin-top: 2%;
  font-size: 1.5em;
}
.reg-btn {
  width: 40%;
  min-height: 2em;
  color: black;
  border-radius: 7px;
  margin-left: 30%;
  margin-top: 3%;
  padding: 1%;
}
.reg-btn:hover {
  background-color: rgb(11, 70, 11);
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 690px) {
  .pic {
    padding-bottom: 6%;
  }
}
